<!DOCTYPE html>
<html lang="en" id="top">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport"
          content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"/>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- bower:css -->
    <!-- endbower -->

    <link rel="stylesheet" href="libs/devextreme/css/dx.spa.css"/>
    <link rel="stylesheet" href="libs/devextreme/css/dx.common.css"/>
    <link rel="stylesheet" href="libs/devextreme/css/dx.light.css"/>
    <link rel="stylesheet" href="css/styles_devextreme.css">

</head>
<body>
<div class="body-container" id="pjax-container">
    {% body %}
</div>

<!-- bower:js -->
<!-- endbower -->
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/devextreme/js/dx.all.js"></script>
<script src="js/init-uxhub-vanilla.min.js"></script>
<script src="js/init.js"></script>
<script src="js/init-uxhub-devextreme.min.js"></script>

</body>
</html>
