/*
Test Section

Markup: simple-test.hbs

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

Styleguide SectionABC-Test
*/
/*
Test Section new Json Path

Markup: simple-test.hbs

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

json-file: simple-test-newPath.json

Styleguide SectionABC-Test.newJsonPath
*/

/*
Test Section new Json Path out

Markup: simple-test.hbs

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

json-file: ../testDir/simple-test-newPath.json

Styleguide SectionABC-Test.newJsonPathout
*/

/*
Test Section Angular

Angular-Markup: simple-test-angular.html

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

angular-wrapper: <div class="widget-wrapper"></div>

Styleguide SectionABC-Test.angular
*/

/*
Test Section Angular

Angular-Markup: simple-test-angular.html

.testVariation - to test
.testVariation.test2Variation - two variation test
:hover - with hover
:focus - with focus
.text:hover - tricky

angular-wrapper: <div class="widget-wrapper"></div>

json-file: simple-test-angular-newjson.json

Styleguide SectionABC-Test.angularNewJson
*/

